<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- PeerJS -->
    <script src="http://cdn.peerjs.com/0.3/peer.js"></script>

    <script src="./javascripts/core.js"></script>
  </head>
  <body>
    <div>
      <h1>Peers Manager</h1>
      <h2>Ma peer ID :</h2>
      <p id="peerID"></p>
      <h2>Les paires connectés :</h2>
      <p id="peers"></p>
    </div>
  </body>
</html>
